* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 2.8rem;
  color: #eee;
  background: #333;
}

.top-section {
  margin: 3.6rem 12.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  font-size: 2.4rem;
  background: #eee;
  border: none;
  padding: 1.2rem 2.4rem;
  cursor: pointer;
}

.heading-1 {
  text-align: center;
  margin-bottom: 2.4rem;
}

.result-section {
  margin-bottom: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.result {
  color: #333;
  background: #eee;
  font-weight: bold;
  font-size: 6rem;
  padding: 0.8rem 3.6rem;
  display: inline;
}

.btm-section {
  display: flex;
  justify-content: space-between;
  margin: 0 30rem;
}

.input-form {
  display: flex;
  flex-direction: column;
}

.guess {
  background: #333;
  font-size: 4.8rem;
  color: #eee;
  width: 20rem;
  padding: 1.6rem 2.4rem;
  margin-bottom: 2rem;
  margin: 0 auto;
  margin-bottom: 2.4rem;
  text-align: center;
  border: 0.2rem solid #eee;
}

.guess:active {
  border: none;

  border: 0.2rem solid #eee;
}

.check {
  width: 20rem;
  margin: 0 auto;
}

.section-scores p:first-child {
  margin-bottom: 3.6rem;
}

.section-scores p:not(:first-child) {
  margin-bottom: 2.4rem;
}
